<section id="forms">
    <form id="addProductForm">
        <h2>Add new product</h2>
        <input class="controls" type="text" name="title" id="title" placeholder="Title" required>
        <input class="controls" type="text" name="description" id="description" placeholder="Description" required>
        <input class="controls" type="text" name="code" id="code" placeholder="Code" required>
        <input class="controls" type="number" name="price" id="price" placeholder="Price" required>
        <input class="controls" type="number" name="stock" id="stock" placeholder="Stock" required>
        <input class="controls" type="text" name="category" id="category" placeholder="Category" required>
        <button class="botons" type="submit" id="add" >Add product</button>
    </form>

    <form id="deleteProductForm">
        <h2>Delete product</h2>
        <input class="controls" type="string" name="prodId" id="prodId" placeholder="Product ID" >
        <button class="botons" type="submit" id="delete">Delete</button>
    </form>
</section>

<section id="products">
    <div id="productsList">
    
    </div>
</section>

<script src="/socket.io/socket.io.js"></script>
<script src="/js/index.js"></script>