<section id="forms">
    <form action="/api/auth/register" method="POST" id="registerForm">
        <h2>Create account</h2>
        <input class="controls" type="text" name="name" id="name" placeholder="Name" required>
        <input class="controls" type="image" name="photo" id="photo" placeholder="Photo">
        <input class="controls" type="email" name="mail" id="mail" placeholder="Mail" required>
        <input class="controls" type="number" name="age" id="age" placeholder="Age" required>
        <input class="controls" type="number" name="role" id="role" placeholder="Role">
        <input class="controls" type="password" name="password" id="password" placeholder="Password" required>
        <button class="buttons" type="submit" id="register">Create account</button>
    </form>
</section>